.logo {
    display: block;
    width: 293px;
    padding: 0 0 30% 0;
    background-image: url(../img/9logo.jpg);
    /*background-size: 100% auto;
    background-position: 0 11px;*/
    background-repeat: no-repeat;
}

.m-media {
    height: 500px;
}

.m-media-figure {
    top: 0;
    left: 50%;
    margin-left: -960px;
    text-align: center;
    width: 1920px;
    height: auto;
    position: absolute;
    background-color: #E1F2F9;
}

.m-media .owl-carousel .owl-item img {
    width: 100%;
}

.p-kv {
    height: 380px;
}

.p-kv .m-media-figure {
    top: -20%;
}

.p-kv .m-media-ctrl {
    bottom: 20px;
}

.p-kv .m-media-info {
    bottom: 40px;
}

.p-kv .m-media-info h3 {
    color: #0089D1;
    font-size: 36px;
}

.d-kv {
    height: 280px !important;
    min-height: 280px;
    background-color: #e0e0e0;
}

.m-media-figure > img {
}

.m-kv {
    left: 50% !important;
}

.m-kv img {
    margin: 0px;
}

.item img {
    width: 100%;
}

.m-button {
    padding-right: 12px;
    padding-left: 12px;
    line-height: 1.5;
}

.m-media-info {
    bottom: 70px;
    padding: 20px 25px;
}

.m-media-info-hd > h3, .m-media-info-hd > .b-h3 {
    text-align: left;
}

.m-media-info-bd {
    padding: 7px 0 0 0;
}

.m-group-text {
    text-align: left;
    letter-spacing: 5px;
}

.m-button-group2 {
    display: table-cell;
    width: 1%;
    float: none;
    white-space: nowrap;
    vertical-align: middle;
}

.m-media-ctrl {
    bottom: 25px;
}

.m-gallery-item .m-media-ctrl {
    right: 10px;
    bottom: -28px;
    width: auto;
    text-align: right;
}

.m-gallery-item {
    width: 100%;
    transition: all 0.3s ease;
}

.m-gallery-item:hover {
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.45) 0 1px 4px;
}

.l-main-bd.is-content-left .l-side {
    float: left;
}

.l-main-bd.is-content-left .l-content {
    float: right;
}

.l-side-box {
    float: left;
    width: 228px;
}

.search {
    float: left;
    width: 100%;
    padding-bottom: 0;
    margin: 0 0 28px 0;
    border-top: 4px solid #0089D1;
    background: #FFF;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
}

.search_box {
    width: 100%;
    padding: 10px 15px 18px 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.search_tit {
    display: inline-block;
    font-size: 18px;
    line-height: 1.7;
    color: #0089D1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.search_row {
    display: inline-block;
    width: 100%;
    padding: 10px 0 0 0;
}

.search_row_i {
    display: inline-block;
    font-size: 15px;
    color: #0089D1;
    padding: 0 5% 0 0;
}

.search_row input {
    float: right;
    display: inline-block;
    width: 74%;
    height: 23px;
    padding: 0 2%;
    margin: 0 0 5px 0;
    border: 1px solid #D7D7D7;
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
}

.s_b {
    width: 100%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.search_m {
    display: none;
}

.search_box_m {
    display: inline-block;
    width: 100%;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.search_box_m input {
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #D7D7D7;
    background-color: #F5F5F5;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
}

.search_t_m {
    display: inline-block;
    font-size: 15px;
    color: #fff;
}

.s_b_m {
    float: right;
    margin: 7px 0 0 5px;
    border: 1px solid #D7D7D7;
}

.b_home {
    display: none;
}

.m-g-2 .owl-carousel .item {
    height: 0;
    padding: 0 0 70% 0;
    overflow: hidden;
}

.m-gallery-title {
    display: inline-block;
    padding: 10px 20px;
    margin: -3px 0 0 0;
}

.m-gallery-title:after {
    height: 0px;
}

.m-gallery > ul > li {
    overflow: visible;
}

.m-gallery-figure img {
    width: 100%;
}

.m-gallery-figure-o-info {
    position: absolute;
    left: 15px;
    bottom: 15px;
    padding: 8px 15px;
    z-index: 4;
    background: rgba(255, 255, 255, 0.82);
}

.m-gallery-figure-o-hd {
    display: block;
    font-size: 18px;
    color: #0089D1;
    text-align: left;
}

.m-gallery-figure-o-bd {
    display: block;
    font-size: 15px;
}

.m-gallery-title2 {
    display: block;
    margin: 10px 15px 0 15px;
    position: relative;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.r_con_b_box {
    width: 100%;
    min-height: 186px;
    border-top: 4px solid #0089D1;
    background-color: #F4FAFC;
}

.b_i {
    font-size: 16px;
    display: block;
    padding: 7px 20px 7px 5px;
    border-bottom: 1px solid #D7D7D7;
    transition: all 0.3s ease;
}

.b_i:hover {
    color: #0089D1;
}

.b_i:before {
    content: "";
    margin-top: -3px;
    margin-right: 10px;
    width: 4px;
    height: 6px;
    background: #0089D1;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.l-side {
    padding-bottom: 0;
    background: #F4FAFC;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
}

.l-side-index {
    background: #FFFFFF;
}

.l-main-bd {
    margin-top: 15px;
    background: transparent;
    -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0;
}

.d-l-main-bd {
    margin: -36px auto 0 auto;
}

.l-main-bd:before {
    display: none;
}

.l-main-bd.is-content-left .con_box {
    width: 100%;
    margin: 0 0 0 20px;
    background-color: #fff;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
}

.m-pro-box-info {
    font-size: 18px;
    line-height: 1.8;
    color: #0089D1;
    vertical-align: middle;
    margin: 0 0 20px 0;
}

.m-pro-box {
    width: 100%;
    padding: 0 0 7px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #D7D7D7;
}

.m-pro-box img {
    display: inline-block;
    width: 25%;
    padding: 0 2% 0 0;
}

.m-pro-box-con {
    display: inline-block;
    width: 72%;
    vertical-align: top;
}

.m-pro-box h3 {
    margin: 0;
    line-height: 1.7;
}

.m-pro-box h5 {
    font-weight: bold;
}

.m-pro-box p {
    margin: 0 0 7px 0;
    line-height: 26px;
}

.m-b-group-d {
    margin: 0 0 15px 0;
}

.h_box {
    width: 100%;
    display: inline-block;
    margin: 0 0 18px 0;
}

.h_box:first-child {
    margin: 0 0 6px 0;
}

.h_box h3 {
    margin: 0;
    line-height: 1.7;
}

.h_box h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 2px 0;
}

.h_box h5.h_tit2 {
    margin: 8px 0 2px 0;
}

.h_box_l {
    width: 27%;
    display: inline-block;
    vertical-align: top;
    padding: 0 1.5% 0 0;
}

.h_box_l img {
    width: 100%;
    display: inline-block;
    padding: 5px 0 0 0;
}

.h_box_r {
    width: 70%;
    display: inline-block;
}

.h_box p {
    line-height: 26px;
}

.h_box_pic1 {
    height: 102px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.h_box_pic2 {
    height: 102px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 5px;
}

.h_box_row {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px solid #dedede;
}

.h_box_row:before {
    content: "•";
    color: #0089D1;
    width: 1%;
    display: inline-block;
    vertical-align: top;
}

.h_box_tit {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}

.h_box_con {
    width: 86%;
    display: inline-block;
    vertical-align: top;
}

.h_box_con a {
    display: inline-block;
    vertical-align: top;
}

.h_box_con2 {
    width: 98%;
    display: inline-block;
    vertical-align: top;
}

.p_box {
    width: 100%;
}

.p_box h5 {
    color: #0089D1;
}

.p_box p {
    line-height: 26px;
    margin: 0 0 5px 0;
}

.p_box a {
    text-decoration: none;
}

.p_box_l {
    display: inline-block;
    width: 25%;
    padding: 0 2% 0 0;
}

.p_box_l img {
    display: inline-block;
    width: 100%;
}

.p_box_l a {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 30px;
    padding: 0;
}

.p_box_con {
    display: inline-block;
    width: 71%;
    vertical-align: top;
}

.p_box_con_i {
    display: inline-block;
    width: 47%;
    vertical-align: top;
}

.p_box_con_i .m-item {
    line-height: 26px;
}

.p_box_con_i2 {
    width: 52%;
}

.con_i6 {
    width: 60%;
}

.con_i4 {
    width: 38%;
}

.c_td_tit {
    font-size: 16px;
    color: #0089D1;
    background-color: #fff;
}

.gray_t {
    color: #727272;
}

.c_table th, .c_table td {
    text-align: center;
}

.product-form {
    background-color: #F4FAFC;
    padding: 20px 30px;
}

.m-form-row {
    width: 100%;
    padding: 0 0 17px 0;
}

.m-form-row-tit {
    display: inline-block;
    width: 15%;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    vertical-align: top;
}

.m-form-row-con {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

.asterisk {
    display: inline-block;
    color: #CC2338;
    font-size: 20px;
    padding: 0 3px;
    line-height: 20px;
}

.m-form-row input {
    display: inline-block;
    height: 22px;
    font-size: 15px;
    padding: 2px 3px;
    margin: 0 0 7px 5px;
    border: 1px solid #BBBBBB;
    vertical-align: top;
}

/*.m-form-row input {width:70%; display: inline-block; height: 22px; font-size: 15px; padding: 2px 3px; margin: 0 0 7px 5px; border: 1px solid #BBBBBB; vertical-align: top; }*/
.m-form-row textarea {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    padding: 2px 3px;
    margin: 0 0 7px 5px;
    border: 1px solid #BBBBBB;
    vertical-align: top;
}

.m-form-row .row_i_s {
    width: 40px;
}

.m-form-row .row_i_m {
    width: 160px;
}

.m-form-row .row_i_b {
    width: 56%;
}

.m-form-row .m-form-group {
    display: inline-block;
    vertical-align: top;
}

.m-form-row .m-form-group .m-form-ctrl {
    display: inline-block;
    margin: 0 0 7px 0;
    vertical-align: top;
}

.m-form-row .label_text {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    padding: 0 0 0 5px;
    vertical-align: top;
}

.m-form-row .m-form-group .m-form.m-form-control {
    border: 1px solid #BBBBBB;
}

.m-form-row .m-form-group .m-form-ctrl > label:first-child {
    padding-left: 5px;
}

.m-form-row .m-form-group.m-form-select .m-form-ctrl .is-label {
    background: #FFFFFF;
}

.m-form-row .m-form-group.m-form-select .m-form-ctrl .is-label > .m-icon {
    font-size: 130%;
    line-height: 30px;
}

.m-form-row .m-form-group .m-form-ctrl .m-form {
    height: 28px;
    line-height: 17px;
}

.b-row p {
    margin: 10px;
    line-height: 23px;
}

@media screen and (min-width: 999px) {
    .m-header {
        padding-top: 40px;
    }

    .m-header-logo > a.m-icon-stack {
        margin-top: 3px;
    }

    .m-header-tools {
        margin: 0 -15px 0 0;
    }

    .m-nav {
        padding-top: 40px;
    }

    .m-nav > ul {
        padding: 14px 105px 0 265px;
    }

    .m-nav-path {
        top: -89px;
        height: 129px;
    }

    .m-nav-path > ul > li > div > ul.d-nav-path > li > a {
        margin: 0 8px 5px 8px;
    }

    .m-nav-path > ul > li > div > ul.d-nav-path > li > a .m-icon {
        color: #fff;
    }

    .m-aside.m-aside-accordion .m-aside-bd > ul > li h6 a {
        line-height: 38px;
    }

    .l-main-bd.is-content-left .l-side {
        float: left;
    }

    .l-main-bd.is-content-left .l-content {
        float: right;
    }
}

@media screen and (max-width: 1400px) {
    .m-media {
        height: 400px;
    }

    .p-kv {
        height: 300px;
    }

    .p-kv .m-media-ctrl {
        bottom: 10px;
    }

    .p-kv .m-media-info {
        bottom: 36px;
    }

    .m-media .owl-carousel .owl-item img {
        width: 70%;
    }
}

@media screen and (max-width: 998px) {
    .logo {
        width: 250px;
    }

    .item {
        width: 100%;
    }

    .m-media-ctrl {
        bottom: 16px;
    }

    .m-media-info {
        bottom: 50px;
        padding: 17px 20px;
    }

    .m-media-figure > img {
        width: auto;
    }

    .m-kv img {
        margin: 0;
    }

    .m-gallery-figure {
        min-height: auto;
    }

    .m-aside.m-aside-list .m-aside-bd > ul > li h6 a {
        float: left;
        display: inline-block;
        width: 48.5%;
        height: 46px;
        margin: 0 1.5% 0 0;
        border-top: 0px;
        border-bottom: 1px solid #D7D7D7;
        overflow: hidden;
    }

    .l-main-bd {
        margin: 0 10px;
        -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0;
        box-shadow: rgba(0, 0, 0, 0.15) 0 0 0;
    }

    .d-l-main-bd {
        margin: -28px 10px 0 10px;
    }

    .m-aside.m-aside-accordion {
        top: 53px;
    }

    .l-side-box {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .l-side {
        padding: 0;
        margin: 0;
        background: transparent;
        -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0;
        -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0;
        box-shadow: rgba(0, 0, 0, 0) 0 0 0;
    }

    .l-side-index {
        padding: 0 0 20px 0;
        margin: 0 0 15px 0;
        background: #FFFFFF;
        -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    }

    .search_m {
        display: block;
    }

    .homesearch {
        display: block;
    }

    .search_tit {
        padding: 0 10px 0 0;
    }

    .search_row {
        width: 24%;
        padding: 10px 0 0 5px;
    }

    .search_row_i {
        padding: 0 10px 0 0;
    }

    .search_row input {
        float: none;
        width: 70%;
    }

    .s_2 {
        width: 14%;
    }

    .b_home {
        display: block;
        color: #fff !important;
        background: #01B6AD !important;
        background: -moz-linear-gradient(left, #0089D1 0%, #01B6AD 100%) !important;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0089D1), color-stop(100%, #01B6AD)) !important;
        background: -webkit-linear-gradient(left, #0089D1 0%, #01B6AD 100%) !important;
        background: -o-linear-gradient(left, #0089D1 0%, #01B6AD 100%) !important;
        background: -ms-linear-gradient(left, #0089D1 0%, #01B6AD 100%) !important;
        background: linear-gradient(to right, #0089d1 0%, #01b6ad 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088d0', endColorstr='#01b5ac', GradientType=1)
    }

    .b_home .b_home_a1 {
        color: #fff !important;
        border-bottom: 1px solid #CCCCCC !important;
    }

    .b_home div {
        background: #01B6AD !important;
        background: -moz-linear-gradient(left, #0089D1 0%, #01B6AD 100%) !important;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0089D1), color-stop(100%, #01B6AD)) !important;
        background: -webkit-linear-gradient(left, #0089D1 0%, #01B6AD 100%) !important;
        background: -o-linear-gradient(left, #0089D1 0%, #01B6AD 100%) !important;
        background: -ms-linear-gradient(left, #0089D1 0%, #01B6AD 100%) !important;
        background: linear-gradient(to right, #0089d1 0%, #01b6ad 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088d0', endColorstr='#01b5ac', GradientType=1)
    }

    .b_home div ul {
        width: auto !important;
        margin: 0 15px !important;
        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
        border-bottom: 1px solid #CCCCCC !important;
    }

    .b_home div ul li a {
        color: #fff !important;
        margin: 0 !important;
    }

    .b_home .m-icon-stack {
        color: #fff !important;
    }

    .l-main-bd.is-content-left .con_box {
        float: left;
        width: 100%;
        margin: 0;
    }

    .m-section-hd {
        display: none;
    }

    .m-section-bd {
        padding-top: 0;
    }

    .h_box_pic1 {
        width: 39.51%;
        height: auto;
    }

    .h_box_pic2 {
        width: 59.67%;
        height: auto;
        margin: 0 0 0 0.82%;
    }
}

@media screen and (max-width: 900px) {
    .m-media-ctrl {
        bottom: 6px;
    }

    .m-media-info {
        bottom: 28px;
    }

    .search_row {
        width: 25%;
        padding: 10px 0 0 3px;
    }

    .s_2 {
        width: 11.2%;
    }
}

@media screen and (max-width: 767px) {
    .m-media {
        height: 300px;
    }

    .m-media-figure {
        left: 45%;
    }

    .m-media .m-media-figure {
        height: 356px;
    }

    .m-media .owl-carousel .owl-item img {
        width: 60%;
    }

    .p-kv {
        height: 260px;
    }

    .p-kv .m-media-ctrl {
        bottom: 6px;
    }

    .p-kv .m-media-info {
        bottom: 28px;
    }

    .search_box {
        text-align: center;
    }

    .search_row {
        width: 100%;
    }

    .search_row_i {
        width: 30px;;
    }

    .search_row input {
        width: 170px;
        padding: 0 4px;
    }

    .m-form-row textarea {
        margin: 0 0 7px 0;
    }

    .s_b {
        width: 220px;
    }

    .m-form-row {
        padding: 0;
    }

    .m-form-row input {
        width: 98%;
        padding: 2px 1%;
        margin: 0 0 5px 0;
    }

    /*.m-form-row input {padding: 2px 1%; margin: 0 0 5px 0; }*/
    .m-form-row-tit {
        width: 100%;
    }

    .m-form-row-con {
        width: 100%;
    }

    .m-form-row .m-form-group .m-form-ctrl {
        float: none;
        width: auto;
    }

    .m-form-row .m-form-group .m-form-ctrl > label:first-child {
        padding-left: 0;
    }

    .m-form-row .row_i_m {
        width: 98%;
        padding: 2px 1%;
    }

    .m-form-row .row_i_b {
        width: 98%;
        padding: 2px 1%;
    }

    .m-form-row .row_i_2 {
        width: 200px;
    }

    .p_box_con_i2 {
        width: 100%;
    }

    .h_box_tit {
        width: 97%;
    }

    .h_box_con {
        width: 100%;
    }

    .h_box_con2 {
        width: 97%;
    }
}

@media screen and (max-width: 998px) and (min-width: 601px) {
    .m-media-info {
        width: 450px;
    }
}

@media screen and (max-width: 600px) {
    .m-media-figure {
        left: 28%;
    }

    .m-media .owl-carousel .owl-item .item img {
        position: relative;
        width: auto;
        left: -600px;
    }

    .m-media-info-bd {
        padding: 0;
        text-align: left;
    }

    .m-group-text {
        float: left;
        display: block;
        width: 100%;
    }

    .m-button-group2 {
        float: left;
        display: block;
        width: 100%;
        padding: 7px 0 0 0;
    }

    .m-pro-box {
        padding: 0 0 15px 0;
    }

    .m-pro-box img {
        width: 100%;
    }

    .m-pro-box-con {
        width: 100%;
    }

    .h_box_l {
        width: 100%;
    }

    .h_box_r {
        width: 100%;
    }

    .h_box_pic1 {
        width: 100%;
        height: auto;
    }

    .h_box_pic2 {
        width: 100%;
        height: auto;
        margin: 5px 0 0 0;
    }

    .p_box_l {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .p_box_l img {
        width: 60%;
    }

    .p_box_l a {
        width: 60%;
        margin: 0 0 5px 0;
    }

    .p_box_con {
        width: 100%;
    }

    .p_box_con_i {
        width: 100%;
    }

    .con_i6 {
        width: 100%;
    }

    .con_i4 {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .m-media-info-hd > h3, .m-media-info-hd > .b-h3 {
        font-size: 26px !important;
    }
}
